@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?c7btgh');
  src:  url('icomoon.eot?c7btgh#iefix') format('embedded-opentype'),
    url('icomoon.ttf?c7btgh') format('truetype'),
    url('icomoon.woff?c7btgh') format('woff'),
    url('icomoon.svg?c7btgh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
